@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*standart variables*/

:root {
    --green: #16ff00;
    --white: #f5f5f5;
    --white2: #cdcccc;
    --black: #121212;
    --gray:#323443;
    --gray2:#424458;
}


/*standard style definition*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
}

li {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--white);
}

button {
    border-radius: 8px;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
span {
    color: var(--white2);
}




/* header section   */

header {
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav ul li:nth-last-child(2) a {
    color: var(--green)
}
.nav ul li:nth-last-child(1) a {
    color: var(--green)
}

#nav-btn {
    display: none;
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*hero section*/

#hero {
    height: 50vh;
    background: url(./images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 20px;
}

.hero-inner {
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.hero-inner h1 {
    font-size: 36px;
    color: var(--green);
}

.hero-inner p {
    letter-spacing: 1px;
    padding: 0 5px;
    line-height: 25px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 7px 40px;
}

.buttons button:nth-child(1) {
    background-color: var(--green);
}






/* info section*/

#info {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 100px;
}

.info-text {

    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info-windows {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    width:100%;
    gap: 20px;
}

.info-window {
    min-width: 200px;
    height: 400px;
    border-radius: 40px 40px 0 0;
    background: url(./images/sec2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-window:nth-child(2) {
    border-radius: 40px;
}

.info-text button {
    padding: 20px 0;
}

/* cards */

#card{
    padding: 100px;
}

.card-text{
    max-width:600px;
}

.card-text p{
    padding: 50px 0;
    font-weight: 350;
    line-height: 25px;
}

.card-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card-box{
    border: solid 1px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    line-height: 25px;
    align-items: center;
}

.card-box video{
    width: 200px;
}


/* explanation */

#explanation{
    padding: 100px;
}
#explanation img{
    width: 50px;
}

.explanation-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.explanation-text h1{
    width: 400px;
}

.explanation-text p{
    width: 400px;  
}

.explanation-list-text{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: solid 1px gray;
}



/* project */

.welcome{
    padding: 100px;
    /* hazır gradient */
    background-image: linear-gradient(
      45deg,
      #fa8bff 0%,
      #2bd2ff 52%,
      #2bff88 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 1300px;
    font-size: 42px;
  }
  

  /* what-we-do */

#what-we-do{
    padding: 150px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.what-we-do-text{
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.what-we-do-boxes{
    display: flex;
    gap: 50px;
}

.what-we-do-box{
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 30px;
    gap: 20px;
    border-radius: 8px;
    position: relative;
}
.what-we-do-box img{
    width: 50px;
    position: absolute;
    top: -50px;
}




/* çalışmalarımız */

#work{
    padding:100px;
}

.work-column{
    display: flex;
    margin-bottom: 20px;
    gap: 40px;
}
.work-column img{
    cursor: pointer;
}

.work-column-imgbox{
    padding: 40px 60px 0 60px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}
.work-column-imgbox:hover{
    background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

.arrow{
    position: absolute;
    display: flex;
    justify-content: end;
    right: 5px;
    top: 5px;
}

.arrow img{
    width: 40px;
    background-color:var(--gray2) ;
    border-radius: 4px;
}

.work-column-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-column-text h2{
    font-size: 18px;
}
.work-column-text p{
    letter-spacing: 1px;
}










/* footer */

footer {
    background-color: var(--black);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

footer h2 {
    padding: 20px 0;
}

footer p {
    line-height: 50px;
}

.abone {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.abone input {
    border-radius: 8px;
    padding: 5px;
}

.abone button {
    width: 30%;
    padding: 7px;
    font-size: small;
    background-color: var(--green);
}










/*media settings*/


/* nav */

@media(max-width:550px) {
    #nav-btn {
        display: block;
    }

    .nav {
        display: none;
    }



/* footer */

}

@media(max-width:700px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
        font-size: small;
    }

    footer h2 {
        margin-bottom: -20px;

    }

    footer p {
        line-height: 30px;
    }

}

@media(max-width:500px) {
    footer {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    footer h2 {
        margin-bottom: -20px;

    }

    footer p {
        line-height: 20px;
        font-weight: 300;
    }

}


/* info */

@media(max-width:1300px) {
    #info {
        flex-direction: column;
        align-items: center;
    }
    .info-window{
        height: 300px;
    }

}

@media(max-width:930px) {
    .card-boxes{
        grid-template-columns: auto;
    }    
}

@media(max-width:1300px) {
    #what-we-do{
        flex-direction: column;
    }
}

@media(max-width:720px) {
    .what-we-do-boxes{
        flex-direction: column;
    }
}